@using Horizon.Components.Account.Shared
@using Horizon.Components.Layout
@using Horizon.Data
@using Horizon.Services
@using Horizon.Services.Tenant
@using Microsoft.AspNetCore.Identity

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject UserStateService UserState
@inject ITenantContext TenantContext
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager NavigationManager
@inject ILogger<Routes> Logger
@inject Horizon.Services.Layout.ILayoutService LayoutService
@using Horizon.Components.Layout

<CascadingAuthenticationState>
    <CascadingValue Value="this">
        <Router AppAssembly="typeof(Program).Assembly">
            <Found Context="routeData">
                @{ 
                    // Inspect the page type for HideNavAttribute and inform the layout service
                    var pageType = routeData.PageType;
                    var hide = false;
                    if (pageType != null) {
                        hide = pageType.GetCustomAttributes(typeof(HideNavAttribute), true).Length > 0;
                    }
                    LayoutService.SetHideNav(hide);
                }
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @{
                            var authState = AuthenticationStateProvider.GetAuthenticationStateAsync().Result;
                            if (!authState.User.Identity?.IsAuthenticated ?? true) {
                                <RedirectToLogin />
                            }
                            else {
                                <p>You are not authorized to access this resource.</p>
                                <MudAlert Severity="Severity.Error">
                                    You do not have access to this resource.
                                </MudAlert>
                            }
                        }
                    </NotAuthorized>
                    <Authorizing>
                        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
                    </Authorizing>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <PageTitle>Not Found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">
                        <MudContainer MaxWidth="MaxWidth.ExtraSmall">
                            <MudCard Elevation="0">
                                <MudText Typo="Typo.h1">Whoops!</MudText>
                            </MudCard>
                        </MudContainer>
                        <MudText Typo="Typo.h5" Align="Align.Center">
                            We can't find that page.
                        </MudText>
                    </MudContainer>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingValue>
</CascadingAuthenticationState>

@code {
    private Type LayoutType = typeof(MainLayout);

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
    }

    public void SetLayout(Type layout) {
        if (layout != null && layout != LayoutType) {
            LayoutType = layout;
            StateHasChanged();
        }
    }
}
