@using MudBlazor
@using CRS.Components.Editors.Models
@inject IDialogService DialogService

<MudDialog>
    <TitleContent>
        Insert Module
    </TitleContent>
    <DialogContent>
        <MudText Typo="Typo.subtitle1">Choose a module to insert</MudText>
        <MudDivider Class="my-2" />
        <MudGrid>
            <MudItem xs="6">
                <MudPaper Class="pa-2 d-flex justify-center align-center" Style="height:80px;cursor:pointer;" @onclick="InsertText">
                    <div class="text-center">Text</div>
                </MudPaper>
            </MudItem>
            <MudItem xs="6">
                <MudPaper Class="pa-2 d-flex justify-center align-center" Style="height:80px;cursor:pointer;" @onclick="InsertImage">
                    <div class="text-center">Image</div>
                </MudPaper>
            </MudItem>
            <MudItem xs="6">
                <MudPaper Class="pa-2 d-flex justify-center align-center" Style="height:80px;cursor:pointer;" @onclick="InsertButton">
                    <div class="text-center">Button</div>
                </MudPaper>
            </MudItem>
            <MudItem xs="6">
                <MudPaper Class="pa-2 d-flex justify-center align-center" Style="height:80px;cursor:pointer;" @onclick="InsertGallery">
                    <div class="text-center">Gallery</div>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance MudDialog { get; set; } = null!;

    private void InsertText() => CloseWithResult("text");
    private void InsertImage() => CloseWithResult("image");
    private void InsertButton() => CloseWithResult("button");
    private void InsertGallery() => CloseWithResult("gallery");

    private void CloseWithResult(string moduleType) {
        MudDialog.Close(DialogResult.Ok(moduleType));
    }

    private void Cancel() => MudDialog.Cancel();
}
